section.aura
    .container
        h2.section__title #{jsonData.auraTitle}
        .aura__content
            p.paragraph #{jsonData.auraParagraph1}
            p.paragraph #{jsonData.auraParagraph2}
            p.paragraph #{jsonData.auraParagraph3}
            p.paragraph #{jsonData.auraParagraph4}
        .aura__item
            h2.section__title #{jsonData.auraTitle2}
            ul.aura__list
                li.aura__item #{jsonData.auraItem1}
                li.aura__item #{jsonData.auraItem2}
                li.aura__item #{jsonData.auraItem3}
                li.aura__item #{jsonData.auraItem4}
                li.aura__item #{jsonData.auraItem5}
                li.aura__item #{jsonData.auraItem6}
                li.aura__item #{jsonData.auraItem7}
                li.aura__item #{jsonData.auraItem8}
                li.aura__item #{jsonData.auraItem9}