section.cocon 
    .container
        h2.section__title #{jsonData.coconTitle}
        .wrap__content-flex
            .cocon__card
                p.card__title #{jsonData.coconCardTitle1}
                img.card__img(src="./img/sect4/sect4im1.png")
            .cocon__card
                p.card__title #{jsonData.coconCardTitle2}
                img.card__img(src="./img/sect4/sect4img2.png")
        .cocon__wrap-paragraf
            p.paragraph #{jsonData.coconCardParagraf1}
            p.paragraph #{jsonData.coconCardParagraf2}
            p.paragraph #{jsonData.coconCardParagraf3}
        .cocon__wrap-paragraf
            p.card__title #{jsonData.coconCardTitle3}
            p.paragraph #{jsonData.coconCardParagraf4}
            p.paragraph #{jsonData.coconCardParagraf5}
            