include ./../mixins/_btn

section.price
    .container
        h2.section__title #{jsonData.sectionTitle2}
        .wrap__content-flex.price__card-flex
                .price__card
                    .price__img
                        img(src="./img/ma/ma1.jpg")
                    ul.price__list
                        li.price__item #{jsonData.priceCardLi1}
                        li.price__item #{jsonData.priceCardLi2}
                        li.price__item #{jsonData.priceCardLi3}
                        li.price__item #{jsonData.priceCardLi4}
                        li.price__item #{jsonData.priceCardLi5}
                        li.price__item #{jsonData.priceCardLi6}
                    p.price_paragr #{jsonData.priceCard1}
                    .price__link
                        +btn(jsonData.linkHeader1,jsonData.btnHeader)
                .price__card
                    .price__img
                        img(src="./img/ma/ma3.jpg")
                    ul.price__list
                        li.price__item #{jsonData.priceCardLi1}
                        li.price__item #{jsonData.priceCardLi2}
                        li.price__item #{jsonData.priceCardLi3}
                        li.price__item #{jsonData.priceCardLi4}
                        li.price__item #{jsonData.priceCardLi5}
                        li.price__item #{jsonData.priceCardLi6}
                        li.price__item #{jsonData.priceCardLi7}
                    p.price_paragr #{jsonData.priceCard2}
                    .price__link
                        +btn(jsonData.linkHeader2,jsonData.btnHeader)
                .price__card
                    .price__img
                        img(src="./img/ma/ma2.jpg")
                    ul.price__list
                        li.price__item #{jsonData.priceCardLi1}
                        li.price__item #{jsonData.priceCardLi2}
                        li.price__item #{jsonData.priceCardLi3}
                        li.price__item #{jsonData.priceCardLi4}
                        li.price__item #{jsonData.priceCardLi5}
                        li.price__item #{jsonData.priceCardLi6}
                        li.price__item #{jsonData.priceCardLi7}
                        li.price__item #{jsonData.priceCardLi8}
                        li.price__item #{jsonData.priceCardLi9}
                    p.price_paragr #{jsonData.priceCard3}
                    .price__link
                        +btn(jsonData.linkHeader3,jsonData.btnHeader)