include ./../mixins/_btn
section.reviews
    .container
        h2.section__title #{jsonData.sectionTitle3}
        .reviews-carousel.owl-carousel.owl-theme
                .item
                    p.owl-carousel__text #{jsonData.carousel__text1}
                    p #{jsonData.carousel__name1}
                .item
                    p.owl-carousel__text #{jsonData.carousel__text2}
                    p #{jsonData.carousel__name2}
                .item
                    p.owl-carousel__text #{jsonData.carousel__text3}
                    p #{jsonData.carousel__name3}
                .item
                    p.owl-carousel__text #{jsonData.carousel__text4}
                    p #{jsonData.carousel__name4}
                .item
                    p.owl-carousel__text #{jsonData.carousel__text5}
                    p #{jsonData.carousel__name5}
                .item
                    p.owl-carousel__text #{jsonData.carousel__text6}
                    p #{jsonData.carousel__name6}
                .item
                    p.owl-carousel__text #{jsonData.carousel__text7}
                    p #{jsonData.carousel__name7}
                .item
                    p.owl-carousel__text #{jsonData.carousel__text8}
                    p #{jsonData.carousel__name8}
    .header__btn
        +btn(jsonData.linkHeader,jsonData.btnHeader)